
.idea/
inspectionProfiles/
misc.xml
models.iml
modules.xml
vcs.xml

models/.idea/
models/_pycharm_/

__pycache__/
*.pyc
*.pyo

__init__.cpython-312.pyc
study_preferences.cpython-312.pyc
user.cpython-312.pyc


